<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>Scanwich Analytics</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header"><strong>Last Month Traffic - Highest</strong></div>
        <div class="card-body" *ngIf="showGetLastMonthTraffic">
          <div echarts [options]="getLastMonthTrafficOptionsTop" class="pie-chart"></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3">
        <div class="card-header"><strong>Last Month Orders - Highest</strong></div>
        <div class="card-body" *ngIf="showGetLastMonthTraffic">
          <div echarts [options]="getLastMonthTrafficOptionsTop" class="pie-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header"><strong>Overall Traffic Trend</strong></div>
        <div class="card-body" *ngIf="showGetOverallTrafficTrend">
          <div echarts [options]="getOverallTrafficTrendOptions" class="pie-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header"><strong>Overall Amount/Orders Trend</strong></div>
        <div class="card-body" *ngIf="showGetAmountAndOrderInfo">
          <div echarts [options]="getAmountAndOrderInfoOptions" class="pie-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header"><strong>Brewed Blak Amount/Order Trend</strong></div>
        <div class="card-body" *ngIf="showGetSupplierAmountAndOrderTrend">
          <div echarts [options]="getSupplierAmountAndOrderTrendOptions" class="pie-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
